@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.navbar{
    height: 5rem;
    width: 100vw;
    width: 100dvw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(30,30,30);
}
.nav-logo{
    font-size: 1.8rem;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.nav-logo span{
    color: red;
    font-family: 'Pacifico', cursive;
}
.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.nav-btn{
    color: black;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-btn span{
    font-size: 1.2rem;
    margin-right: 0.3rem;
}
.mobo{
    display: none;
    object-fit: cover;
    color: red;
    font-size: 2rem;
    cursor: pointer;
}
.mobomenu{
    position: absolute;
    top: 4rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 50%;
    right: 2rem;
    padding: 0.5rem;
    margin: 0;
    height: calc(100vh - 4rem);
    background: rgb(40,40,40);
    border-radius: 1rem;
    text-align: center;
}
.listItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30,30,30);

}
.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;

}

@media screen and (max-width:750px){
    .mobo{
        display: flex;
    }
    .navmenu{
        display: none;
    }
    .nav-btn{
        display: none;
    }
}